<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBPROJECTEntities" connectionString="metadata=res://*/WorkOutModel.csdl|res://*/WorkOutModel.ssdl|res://*/WorkOutModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG615425N\SQLEXPRESS;initial catalog=DBPROJECT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>